extends layout

block content
  h1= title
  p Welcome to Login App
  form(action='/add_user', method='POST')
    p
      | username :
      input(name='username', value='', type='text')
      | password :
      input(name='password', value='', type='password')
    input(value='Register', type='submit')

  form(action='/check_user', method='POST')
    p
      | username :
      input(name='username', value='', type='text')
      | password :
      input(name='password', value='', type='password')
    input(value='Login', type='submit')